<h2 class="page-title">Edit Question</h2>

<%= render 'form' %>

<footer class="footer">
  <ul class="link-list pull-right">
     <li><%= link_to 'Back', question_sets_path, class: "btn btn-link" %></li>
  </ul>
</footer>
