<h2 class="page-title">Editing Question Set</h2>

<%= render 'form' %>

<ul class="link-list pull-right">
  <li><%= link_to 'Show', @question_set, class: "btn btn-link pull-right" %></li>
  <li><%= link_to 'Back', question_sets_path, class: "btn btn-link pull-right" %></li>
</ul>
