<h4>Select a Question Set for Table Topics</h4>
<% if @question_sets.count > 0 %>
  <ul>
    <% @question_sets.each do |question_set| %>
      <li><%=link_to  question_set.name, chose_path(question_set.id) %></li>
    <% end %>
  </ul>
<% end %>
