<h2 class="page-title">Select a Question Set for Table Topics</h2>
<% if @question_sets.count > 0 %>
  <div class="list-group">
    <% @question_sets.each do |question_set| %>
      <%=link_to  question_set.name, table_topic_path(question_set.id), class: "list-group-item" %>
    <% end %>
  </div>
<% end %>
