/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #6D828A;
$dark-gray: #303A3D;
$medium-gray: #6D828A;
$light-blue: #62AEC8;
$medium-blue: #286090;
$dark-blue: #1E353D;
$white: #FFFFFF;

h2, h3, h4 {
  color: $medium-gray;
}
li {
  color: $dark-gray;
  margin-left: 20px;
}
.btn-primary {
  background-color: $medium-blue;
  color: $white;
  border: none;
  &:hover {
    background-color: $light-blue;
  }
  &:visited {
    color: $white;
  }
}
.link-list li {
  display: inline-block;
}
.page-title {
  padding-bottom: 10px;
  margin: 10px 0px;
}
.headline {
  padding: 20px;
  color: $medium-blue;
}
footer {
  padding: 20px;
}
/*  HEADER  */
.navbar-default {
  border-bottom: 1px solid $dark-blue;
  background-color: $medium-blue;
  .navbar-toggle {
      color: $white;
      border-color: $white;
  }
  .navbar-brand {
      color: $white;
      &:hover {
        color: $light-gray;
      }
  }
  .navbar-nav {
      color: $medium-blue;
  }
  .navbar-nav > li > a {
      color: $white;
      &:hover {
          color: $light-gray;
      }
  }
}
.block {
  border-radius: 5px;
  border: 1px solid $light-blue;
  box-shadow: 2px 2px 2px $light-gray;
  margin: 10px 0px;
  padding: 20px 20px;
}
